@import 'vars';
@import 'global';
@import 'fonts';

//header start
.header{
    border-bottom: 3px solid #a1a1a1;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.header__logo{
    img{
        max-width: 150px;
    }
}
.header__item{
    display: flex;
    align-items: center;
    .header__img{
        width: 40px;
        height: 40px;
        margin-right: 13px;
    }
    .header__title{
        color: $accent;
        margin-bottom: 5px;
    }   
    .header__text{
        font-weight: 700;
        color: $bg;
        span{
            text-transform: uppercase;
        }
    }
    .phone__link{
        font-size: 18px;
        font-weight: 700;
        color: $accent;
    } 
}
.header__item.worktime{
    max-width: 190px;
}
.register__button{
    background-color: $bg;
    font-weight: 700;
    border-radius: 10px;
    padding: 15px 30px;
    transition: all .2s;
    &:hover{
        box-shadow: 0px 0px 9.23px 3.77px rgba(0, 0, 0, 0.6);
    }
}
.header-bottom{
    background-color: $bg;
    height: 55px;
    max-width: 1476px;
    margin: 0 auto;
    text-align: center;
}
.menu{
    background-color: $bg;
    margin: 0 auto;
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 7px;
}  
.menu__list{
    margin: 0 auto;
    display: flex;
    li{
        display: flex;
        align-items: center;
        & + li{
            margin-left: 95px;
        }
        &:hover{
            a{
                text-decoration: underline;    
            }
        }
    } 
}
.menu__btn{
    display: none;
    margin-right: 30px;
    margin-left: auto;
}
.menu__btn-line{
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: #fff;
    & + .menu__btn-line{
        margin-top: 5px;
    }
}
//header end 

//work__photo start
.works{
    margin-bottom: 90px;
    text-align: center;
}
.work__photos{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 5px;
}
.photo{
    width: 250px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}
.work__photos-item{
    text-align: center;
    .work__photo-descr{
        font-family: 'Maya';
        font-size: 24px;
        line-height: 40px;
        color: $bg;
    }
}
.works__link{
    color: $bg;
    font-size: 30px;    
    font-weight: 700;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
//work__photo end

//advantages start
.advantages__title{
    background-color: #545c74;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    .advantages__title-text{
        font-family: 'Maya';
        font-size: 60px;
        line-height: 60px;
        color: #fff;
    }
}
.advantages__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
}
.advantages__item{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 30px;
    img{
        max-width: 150px;
        margin-bottom: 15px;
    }
    .advantages__item-text{
        max-width: 230px;
        font-size: 20px;
        color: $accent;
        font-weight: 700;
        line-height: 24px;
        text-decoration: underline;
    }
}
//advantages end

//price start
.price{
    .button__inner{
        text-align: center;
    }
}
.price__bg{
    min-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}
.price__title{
    background-color: transparent;
    margin-bottom: 50px;
}
.price__inner{
    max-width: 1100px;
    margin-left: auto;
}
.price__items{
    column-count: 2;
    width: 100%;
    margin-bottom: 70px;
}
.price__item{
    max-width: 490px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 35px;
    .price__item-info{
        display: flex;
        justify-content: space-between;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 70%;
            border-bottom: 2px dotted #fff;
        }
        .price__info{
            position: relative;
            z-index: 2;
            background-color: #10100b;
            line-height: 30px;
            &.price__name{
                padding-right: 10px;
            }
            &.price__sum{
                padding-left: 10px;
            }
        }
    }
    .price__link{
        font-size: 14px;
        text-decoration: underline;
    }
}
.price__main-link{
    font-size: 18px;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
//price end

//partners start
.partners{
    margin: 100px 0;
}
.partner__items{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    align-items: center;
}
.partner__item{
    width: 33.333%;
    text-align: center;
    margin-bottom: 25px;
    img{
        max-width: 200px;
    }
}
//partners end

//footer start
.footer-top{
    min-height: 300px;
    height: 100%;
    background-color: #545c74;
}
.footer-top__inner{
    margin: 0 60px;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-top__item{
    max-width: 405px;
    width: 100%;
    .footer-top__item-title{
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 25px;
        span{
            font-family: 'Maya';
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
        }
    }
    .footer-top__item-text{
        font-size: 14px;
        max-width: 250px;
    }
    .footer-top__item-list{
        padding-left: 45px;
        li{
            padding-bottom: 25px;
        }
        .footer__list-icon{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                background-image: url(../images/icons/browser.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;
                left: -40px;
                top: -5px;
            }  
        }
        .footer__phone{
            &::before{
                background-image: url(../images/icons/phone.svg);
            }
        }
        .footer__email{
            &::before{
                background-image: url(../images/icons/email.svg);
            }
        }  
    }
    .footer-top__social{
        .footer-top__social-link{
            img{
                height: 40px;
                width: 40px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            & + .footer-top__social-link{
                margin-left: 25px;
            }
        }
    }
}
.footer-top__item.social__footer-item{
    max-width: 180px;
}
.footer-bottom{
    background-color: $bg;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom__text{
    font-size: 14px;
}
//footer end

@import 'media';